*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

body{
    // filter: invert(100%);
    // background-color: #ffffff;
    overflow:hidden;
    background-color: #0f0f0f;
    // > img{
    //     filter: invert(100%);
    // }
}
img{
    width: 21px;
    height: 23px;
    filter:invert(100%);            
}
.main{
    display: flex;
    flex-direction: row;
}
.side{
    height: calc(100vh - 4rem);
}
.hero{
    display: flex;
    flex-direction:column;
    color: rgb(255, 255, 255);
}

.hero .links{
    width: 90%;
}